@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fonts/IDroid.otf) format(opentype)}
    
:root{
    --cor01: #c5dbd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'idroid';}

*{
    margin: 0px;
    padding: 0px;}    

body{
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);}

header{
    background-color: var(--cor04);
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom,var(--cor03),var(--cor05));}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.342);}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px --cor04;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.342);}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, .5);}

nav > a {
    color: var(--cor01);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;}
    
nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);}

a.externo::after{
    content: '\00A0\1F517';}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;}

main strong{
    color: var(--cor04);
    font-weight: bold;}
    
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor03);
    padding: 2px 6px;}

main a:hover{
    text-decoration: underline;
    color: var(--cor04);}

div.video{
    background-color: var(--cor06);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;}

div > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;}

main img{
    width: 100%;}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto}

main h1{
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right,var(--cor01), transparent);
    text-indent: 8px;}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;}

aside{
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.555);}

aside > h3{
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;}

aside > ul{
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;}

footer{
    background-color: var(--cor06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;}

footer  > a{
    color: white;
    font-weight: bold;
    text-decoration: none;}

footer a:hover{
    text-decoration: underline;
    color: var(--cor01);}